* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    justify-content: center;
    background-color: rgb(228, 228, 228);
}

form {
    position: relative;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 200px;
    width: 400px;
    background-color: white;
    border-radius: 15px;
    height: 500px;
}

form h1 {
    font-family: 'Belanosima', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}

form img {
    margin-bottom: 20px;
    width: 50px;
    height: 50px;
}

.inputBox {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 200px;
}

form span {
    font-family: 'Roboto', sans-serif;
}

#chkBox {
    position: relative;
    bottom: 15px;
    left: 75px;
}

#LoginBtn {
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(90deg, #1f005c, #5b0060, #870160, #ac255e, #ca485c, #e16b5c, #f39060, #ffb56b);
    color: white;
    border: none;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
    margin-top: 20px;
}

#LoginBtn:hover {
    background: linear-gradient(90deg, #ffb56b, #f39060, #e16b5c, #ca485c, #ac255e, #870160, #5b0060, #1f005c);
}

form p {
    font-family: 'Roboto', sans-serif;
}

form a {
    text-decoration: none;
    color: rgb(0, 149, 255);
}